
.classpath
.project
.gitattributes
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.wst.ws.service.policy.prefs
target/classes/com/bms/mybms/controller/TestController.class
target/classes/com/bms/mybms/controller/UserController.class
target/classes/com/bms/mybms/dao/UserDao.class
target/classes/com/bms/mybms/entity/User.class
target/classes/com/bms/mybms/mapping/UserMapper.xml
target/classes/com/bms/mybms/service/Impl/UserServiceImpl.class
target/classes/com/bms/mybms/service/UserService.class
target/classes/jdbc.properties
target/classes/log4j.properties
target/classes/spring-mvc.xml
target/classes/spring-mybatis.xml
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.bms/MyBms/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.bms/MyBms/pom.xml
/.idea/
/MyBms.iml
